<!doctype html>
<html>
  <head>
    <title>Ethereum Studio</title>
    <style>
      body {
      background-color: rgb(34, 34, 34);
      color: white;
      padding: 30px;
      }
      a {
      color: #B9CA4A;
      }
    </style>
  </head>
  <body>
    <h1>403</h1>
    <h2>Sorry, you do not have access to this private project</h2>
    
    <% if (!loggedIn && dashboardUrl != '/') { %>
      <p>If you want to sign in to your account, you can do it at <a href="<%= dashboardUrl %>">dashboard</a>.</p>
    <% } %>
    <p>Ask us anything in <a target="_blank" href="http://www.ether.camp">our slack</a>.</p>
  </body>
</html>
